<h1>Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'welcome' %>

<%= link_to 'New article', new_article_path %>

<%= link_to 'All articles', articles_list_path %>

<%= link_to 'BoraTanrikulu', welcome_bora_path %>


